<section class="contenedor-menu">

    <div class="titulo form-control">

        <h1>Menu</h1>
        <hr class="menu">
        <div class="contenedor-accesos row">

            <div class="acceso col-md-2">
                
                <i class="icono fas fa-journal-whills"></i>
                <h3>Archivos</h3>
            </div>
           
            
            <div class="acceso col-md-2" >
                <a routerLink="lista"></a>
                <i class="icono fas fa-cloud-upload-alt"></i>
                <h3>Licitaciones</h3>
            </div>

        </div>
        
    </div>

   
</section>
