<section class="contenedor-menu">

    <div class="titulo form-control">

        <h1>Menu</h1>
        <hr class="menu">
        <div class="contenedor-accesos row">

            <div class="acceso col-md-2" routerLink="/documento">
                <i class="icono fas fa-journal-whills"></i>
                <h3>Documentos</h3>
            </div>
           
            
           
            <div class="acceso col-md-2"  routerLink="/lista">
                <i class="icono fas fa-chess"></i>
                <h3>Licitaciones</h3>
            </div>

        </div>
        
    </div>

   
</section>
