<div class="container mt-5 ">

    <div class="row">

            <div class="col-lg-8 offset-lg-2"> 

                <div class="card">

                    <div class="titulo-licitaciones">

                        <h3>Listado de licitaciones</h3>

                    </div>

                </div>

            </div>
    </div>

</div>

<hr class="hr-licitaciones">

<div class="encabezado container">

    <div class="row">

            <div class="col-lg-12 col-md-12"> 

                <table  class=" table ">
                    <tbody  >
                        <tr class=" form-control">
                            
                            <td class="td-encabezado " >
                               <div class="contenedor-titulo">
                                <h6 class="titulo-encabezado">Número-Proceso</h6>
                               </div> 
                            </td>
                    
                            <td class="td-encabezado " >
                                <div class="contenedor-titulo">
                                    <h6 class="titulo-encabezado">Tipo</h6>
                                </div>
                                
                            </td>
                            <td class="td-encabezado " >

                                <div>
                                    <h6 class="titulo-encabezado">Estado</h6>
                                </div>
                                
                            </td>
                            <td class="td-encabezado  " >

                                <div>
                                    <h6 class="titulo-encabezado">Entidad</h6>
                                </div>
                               
                            </td>
                            <td class="td-encabezado  " > 

                                <div>
                                    <h6 class="titulo-encabezado">Objeto</h6>
                                </div>
                                
                            </td>
                            <td class="td-encabezado " >
                                <div>
                                    <h6 class="titulo-encabezado ">Lugar</h6>
                                </div>
                                
                            </td>
                            <td class="td-encabezado " >
                                <div>
                                    <h6 class="titulo-encabezado " >Valor</h6>
                                </div>
                                
                            </td>
                            <td class="td-encabezado " >
                                <div>
                                    <h6 class="titulo-encabezado ">Fecha</h6>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
    </div>

</div>

<hr class="hr-licitaciones">

<div class="container ">

    <div class="row">

        <div class="col-lg-12 ">
            
            <table class="table ">
                <tbody >
                    <tr class="form-control">
                        <td>
                           <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td>
                            <div >32132132321321</div>
                        </td>
                        <td> 
                            <div id="prueba1" class="prueba1 prueba">
                                <i class="fas fa-download"></i>
                            </div>
                        </td>
                        <td>
                            <div class="prueba">
                                <i  class="far fa-eye"></i>
                            </div>
                          
                        </td>
                        <td> 
                            <div class="prueba">
                                <i class="far fa-edit"></i>
                            </div>
                            
                        </td>
                        <td>
                            <div class="prueba">
                                <i class="far fa-trash-alt"></i>
                            </div>
                           
                        </td>
                    </tr>
                </tbody>
            </table>

        <div>

    </div>

</div>

<script>document.getElementById('prueba1').classList.add('prueba1')</script>