<div class="container mt-5 ">

    <div class="row">

            <div class="col-lg-8 offset-lg-2"> 

                <div class="card">

                    <div class="titulo-licitaciones">

                        <h3>Listado de licitaciones</h3>

                    </div>

                </div>

            </div>
    </div>

</div>

<hr class="hr-licitaciones">

<div class="contenedor-tabla">

    <div class="row">

        <div class="col-lg-12 ">
            
            <table class="table">
                <thead class="form-control" >
                    <tr>
                        <div>
                            <input class="btn waves-effect btn-info" type="button" style="color: white;" value="Filtrar">
                        </div>
                    </tr>
                    <hr class="hr-licitaciones">
                    <tr class="row">
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado">Número-Proceso</h6>
                        </th>
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado">Tipo</h6>
                        </th>
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado">Estado</h6>
                        </th>
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado">Entidad</h6>
                        </th>
                        <th class="col-md-2">
                            <h6 class="titulo-encabezado">Objeto</h6>
                        </th>
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado ">Lugar</h6>
                        </th>
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado " >Valor</h6>
                        </th>
                        <th class="col-md-1">
                            <h6 class="titulo-encabezado ">Fecha</h6>
                        </th>
                        
                    </tr>
                </thead>
                <tbody class="form-control">
                    <tr class="row" >
                        <td class="col-md-1" >
                           <div class="texto">	MIN 017 DE 2020</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Contratación Mínima Cuantía</div>
                        </td>
                        <td class="col-md-1" >
                            <div div class="texto" >Liquidado</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >BOYACÁ - ALCALDÍA MUNICIPIO DE TINJACÁ</div>
                        </td>
                        <td class="col-md-2">
                            <div >ADQUISICIÓN DE BIENES PARA LA EJECUCIÓN DEL PROYECTO LEVANTE Y COMERCIALIZACIÓN DE LECHONES, EN EL CUMPLIMIENTO DEL MARCO DE LA LEY 1448 DE 2011, CON DESTINO A LAS FAMILIAS VÍCTIMAS DEL CONFLICTO QUE RESIDEN EN EL MUNICIPIO DE TINJACÁ, DEPARTAMENTO DE BOYACÁ.</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Boyacá</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >$7.863.900,00</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Fecha de Liquidación
                                28-12-2021</div>
                        </td>
                        <td  class="botones col-md-2">

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="complemento btn btn-default btn-d" >
                                
                                    <i class="far fas fa-download"></i>
                                
                            </button>
                            

                        </div>
                                
                        <div class="contenedor-botones">

                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d" >
                                <i  class="far fa-eye"></i>
                                    
                            </button>

                        </div>

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d">
                                <i class="far fa-edit text-info"></i>
                                    
                            </button>

                        </div>

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d">
                                <i class="far fa-trash-alt text-danger"></i>
                                    
                                    <div class="btn-loader hide"></div>
                            </button>

                        </div>

                        </td>
                    
                    </tr>

                    <tr class="row" >
                        <td class="col-md-1" >
                           <div class="texto">	MIN 017 DE 2020</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Contratación Mínima Cuantía</div>
                        </td>
                        <td class="col-md-1" >
                            <div div class="texto" >Liquidado</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >BOYACÁ - ALCALDÍA MUNICIPIO DE TINJACÁ</div>
                        </td>
                        <td class="col-md-2">
                            <div >ADQUISICIÓN DE BIENES PARA LA EJECUCIÓN DEL PROYECTO LEVANTE Y COMERCIALIZACIÓN DE LECHONES, EN EL CUMPLIMIENTO DEL MARCO DE LA LEY 1448 DE 2011, CON DESTINO A LAS FAMILIAS VÍCTIMAS DEL CONFLICTO QUE RESIDEN EN EL MUNICIPIO DE TINJACÁ, DEPARTAMENTO DE BOYACÁ.</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Boyacá</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >$7.863.900,00</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Fecha de Liquidación
                                28-12-2021</div>
                        </td>
                        <td  class="botones col-md-2">

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="complemento btn btn-default btn-d" >
                                
                                    <i class="far fas fa-download"></i>
                                
                            </button>
                            

                        </div>
                                
                        <div class="contenedor-botones">

                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d" >
                                <i  class="far fa-eye"></i>
                                    
                            </button>

                        </div>

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d">
                                <i class="far fa-edit text-info"></i>
                                    
                            </button>

                        </div>

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d">
                                <i class="far fa-trash-alt text-danger"></i>
                                    
                                    <div class="btn-loader hide"></div>
                            </button>

                        </div>

                        </td>
                    
                    </tr>

                    <tr class="row" >
                        <td class="col-md-1" >
                           <div class="texto">	MIN 017 DE 2020</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Contratación Mínima Cuantía</div>
                        </td>
                        <td class="col-md-1" >
                            <div div class="texto" >Liquidado</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >BOYACÁ - ALCALDÍA MUNICIPIO DE TINJACÁ</div>
                        </td>
                        <td class="col-md-2">
                            <div >ADQUISICIÓN DE BIENES PARA LA EJECUCIÓN DEL PROYECTO LEVANTE Y COMERCIALIZACIÓN DE LECHONES, EN EL CUMPLIMIENTO DEL MARCO DE LA LEY 1448 DE 2011, CON DESTINO A LAS FAMILIAS VÍCTIMAS DEL CONFLICTO QUE RESIDEN EN EL MUNICIPIO DE TINJACÁ, DEPARTAMENTO DE BOYACÁ.</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Boyacá</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >$7.863.900,00</div>
                        </td>
                        <td class="col-md-1">
                            <div div class="texto" >Fecha de Liquidación
                                28-12-2021</div>
                        </td>
                        <td  class="botones col-md-2">

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="complemento btn btn-default btn-d" >
                                
                                    <i class="far fas fa-download"></i>
                                
                            </button>
                            

                        </div>
                                
                        <div class="contenedor-botones">

                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d" >
                                <i  class="far fa-eye"></i>
                                    
                            </button>

                        </div>

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d">
                                <i class="far fa-edit text-info"></i>
                                    
                            </button>

                        </div>

                        <div class="contenedor-botones">
                            <button data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-d">
                                <i class="far fa-trash-alt text-danger"></i>
                                    
                                    <div class="btn-loader hide"></div>
                            </button>

                        </div>

                        </td>
                    
                    </tr>
                </tbody>
            </table>

        <div>

    </div>

</div>

