.hr-licitaciones{
    background-color:transparent
}

.titulo-licitaciones{
    text-align: center;
    font-family: monospace;
    margin-top: 1%;
}

.fa-edit{
    color:rgb(89, 16, 185);
    cursor: pointer; 
    position: absolute;
}

.fa-trash-alt{
    color: red;
    cursor: pointer;
    position: absolute;
}

.fa-eye{
    cursor: pointer;
    position: absolute;
}

.fa-download{
    color:rgb(95, 238, 12);
    cursor: pointer; 
    position: absolute;
}

.titulo-encabezado{
    font-weight: bold;
    font-family: arial;
}

.contenedor-tabla{
margin-left: 1%;
margin-right: 1%;
}

.linea{
    height: 50px;
    border-bottom: none;
    width: 1%;
}




 .btn:not(.btn-link) {
    box-shadow: 0 2px 5px rgb(0 0 0 / 16%), 0 2px 10px rgb(0 0 0 / 12%);
}

.btn-icon {
    border-radius: 50%;
    width: 40px;
    line-height: 42px;
    height: 40px;
    padding: 0;
    text-align: center;
    padding-top: 2px;
  
}

.btn {
   
    
    
    font-size: 13px;
    line-height: 1.42857143;
   
    

}







