<div class="container mt-5">

    <div class="row">

            <div class="col-lg-8 offset-lg-2"> 

                <div class="card">

                    <div class="titulo-licitaciones">

                        <h3>Listado de licitaciones</h3>

                    </div>

                </div>

            </div>
    </div>

</div>

<hr class="hr-licitaciones">

<div class="container ">

    <div class="row">

        <div class="col-lg-12 ">
            
            <table class="table ">
                <tbody>
                    <tr class="form-control">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="">
                            <i class="icon far fa-eye"></i>
                        </td>
                        <td> 
                            <i class="icon far fa-edit"></i>
                        </td>
                        <td>
                            <i class="icon far fa-trash-alt"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        <div>

    </div>

</div>
