.hr-licitaciones{
    background-color:transparent
}

.titulo-licitaciones{
    text-align: center;
    font-family: monospace;
    margin-top: 1%;
}

.fa-edit{
    color:rgb(89, 16, 185);
    cursor: pointer; 
}

.fa-trash-alt{
    color: red;
    cursor: pointer;
}

.fa-eye{
    cursor: pointer;
}

.encabezado{
    height: 50px;
}

.titulo-encabezado{
    font-weight: bold;
    font-family: arial;
}

.td-encabezado{
    border-bottom: none; 
}

.fa-download{
    color:rgb(95, 238, 12);
    cursor: pointer; 
}

.contenedor-titulo{
    margin-top: 5%;
}
 




